body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f8f8f8;
}

header h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

table th {
    background-color: #007bff;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#clear-btn {
  background-color: #ff4538;
  color: white;
  margin-top: 15px;
  font-size: 16px;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
}
#clear-btn:hover {
  transform: scale(1.3);
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #888;
}